---
layout: default
title: "XI Fórum de Tecnologia em Software Livre e Aberto de Curitiba"
excerpt: "Promotor regional da ConFLOSS – Conferência De Free/Libre e Open Source Software"
image: Web128x128.jpg
---

    <section class="panel grey darken-4 valign-wrapper" style="height: 360px; margin-top: 0px; background-image: url('images/WebHotsiteBg.png'); ">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l6 xl6 center-align">
                    <div class="md-font flow-text blue-text text-lighten-5 valign">
                        <p class="flow-text">XI FÓRUM DE TECNOLOGIA EM SOFTWARE LIVRE E ABERTO<br/>PROMOTOR REGIONAL DA CONFERÊNCIA DE FREE/LIBRE E OPEN SOURCE SOFTWARE</p>
		    </div>
                </div>

                <div class="col s12 m12 l6 xl6 hide-on-med-and-down center-align">
                    <div class="md-font white-text valign" style="margin: 0">
			    <a href="http://www.confloss.com.br"><img src="images/confloss.jpg" style="heigth:60%;width:60%"/></a>
				
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="panel blue darken-4" >
        <div class="container valign-wrapper" style="height: auto; padding: 20px">
            <div class="center-align">
                <span class="xs-font white-text text-darken-4 flow-text">Divulgamos o FLOSS em Curitiba e região. Entre em <a href="mailto:contato@ftsl.org.br">contato</a> para uma palestra gratuita.</span>               
            </div>
	</div>    
    </section>



    <section class="panel grey lighten-4 valign-wrapper">
        <div class="container" style="padding: 30px 10px">
            <div class="row">
                <div class="col s4">
                    <div class="row">
                        <div class="col s12 center-align">
                            <div class="grey-text text-darken-3"><i class="material-icons medium blue-text text-darken-4">keyboard_voice</i></div>
                            <span class="sm-font center-align grey-text text-darken-3">Para empresas</span>
                        </div>
                        <div class="col s12  grey-text text-darken-3">
                            Saiba o que o FLOSS pode fazer para seu negócio.
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="row">
                        <div class="col s12 center-align">
                            <div class="grey-text text-darken-3"><i class="material-icons medium blue-text text-darken-4">watch_later</i></div>
			    <span class="sm-font center-align grey-text text-darken-3">Para escolas e faculdades</span>
                        </div>
                        <div class="col s12  grey-text text-darken-3">
                            Saiba como o FLOSS pode ajudar na educação e na formação de profissionais.
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="row">
                        <div class="col s12 center-align">
                            <div class="grey-text text-darken-3"><i class="material-icons medium blue-text text-darken-4">watch_later</i></div>
			    <span class="sm-font center-align grey-text text-darken-3">Para eventos</span>
                        </div>
                        <div class="col s12  grey-text text-darken-3">
                            Apresente o FLOSS em seu evento.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="panel blue darken-4" >
        <div class="container valign-wrapper" style="height: auto; padding: 20px">
            <div class="center-align">
                <span class="xs-font white-text text-darken-4 flow-text">Treze anos de experiência em inclusão digital efetiva</span><br>
                <span class="md-font amber-text text-darken-1 flow-text">Mais de 3000 pessoas participaram de palestras e cursos gratuitos promovidos pelo FTSL</span><br><br>
                <a class="btn amber darken-4" href="evento.html">CONHEÇA A HISTÓRIA DO FTSL</a>
            </div>
	</div>
    </section>

<section id="integrantes" class="panel grey darken-4">
    <div class="container grey lighten-4" style="">
      <div class="row ">
        <div class="col s12 sm-font blue-grey-text ">
          <span style="display: inline-block; padding:10px ">Nosso time<a name="integrantes"></a></span>
        </div>
      </div>

      <div class="row" style="padding: 0 10px; margin-bottom: 0;">

          {% for integrante in site.integrantes %}
          <div class="col s4 m4 l4">
                      <a href="{{site.baseurl}}{{ integrante.url }}">
                          <figure>  
                          <img class="responsive-img center" src="{{ site.baseurl}}/integrantes/{{ integrante.image }}-thumb.jpg" style="padding: 3px;" alt="{{ integrante.title }}" width="100" height="100">
                          <figcaption>{{integrante.title}}</figcaption> 
                          </figure>
                      </a>
          </div>
          {% endfor %}

      </div> <!-- row -->
    </div>
  </section>

    <section class="panel blue-grey darken-4" id="noticias" >
        <div class="container" style="padding: 30px 10px">
            <div class="row">
  {% for post in site.posts %}
                <div class="col s12 m6 l4">
                    <div class="card large">
                        <div class="card-image">
                            <a href="{{ site.baseurl }}{{ post.url }}">
                                <img src="images/thumbs/{{ post.image }}" style="max-height: 200px">
                            </a>
                        </div>
                        <div class="card-content">
                            <span class="card-title blue-text text-darken-4 xs-font"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></span>
                            <p>{{ post.excerpt }}</p>
                        </div>
                        <div class="card-action">
                            <a href="{{ site.baseurl }}{{ post.url }}">saiba mais</a>
                        </div>
                    </div>
                </div>
  {% endfor %}
            </div>
        </div>
    </section>    

    <div id="patrocinioFooter"></div>

    <section class="panel grey lighten-4">
        <div class="container grey lighten-4">
            <div class="row">
                <div class="col s6 m6 l6" style="padding: 15px">
                    <span class="sm-font">Eventos apoiados pelo FTSL</span>
                    <hr style="width: 100%">
                </div>
                </div>
            </div>
            <div class="row">
            	<div class="col s4 m4 l4">
	            <div class="responsive-img center">
                	<a href="https://www.confloss.com.br"><img src="images/confloss.jpg" style="heigth:80%;width:80%"></a>
	            </div>
		</div>
            	<div class="col s4 m4 l4">
	            <div class="responsive-img center">
                	<a href="https://www.phpconference.com.br"><img src="images/phpconf.png" ></a>
	            </div>
		</div>
	        <div class="col s4 m4 l4">
	            <div class="responsive-img center">
                	<a href="https://www.msmn.com.br"><img src="images/msmn.png" ></a>
	            </div>
		</div>
	    </div>
        </div>
    </section>
