---
layout: default
title: "XI Fórum de Tecnologia em Software Livre e Aberto"
excerpt: "O maior evento gratuito de software livre e aberto do país!"
image: Web128x128.jpg
---

    <section class="panel grey darken-4 valign-wrapper" style="height: 360px; margin-top: 0px; background-image: url('images/WebHotsiteBg.png'); ">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l6 xl6 center-align">
                    <div class="md-font flow-text blue-text text-lighten-5 valign">
                        <p class="flow-text">XI FÓRUM DE TECNOLOGIA EM SOFTWARE LIVRE E ABERTO</p><p class="flow-text">ADIADO, SEM PREVISÃO</p><p></p></div>

                        <br>
                </div>

                <div class="col s12 m12 l6 xl6 hide-on-med-and-down center-align">
                    <div class="md-font white-text valign" style="margin: 0">
			    <p class="flow-text">Aguarde novas datas e local</p>    
<!--<p class="flow-text" style="font-color:white"><a href="https://ftsl.websiteseguro.com/ftsl11/apps/certificados">CERTIFICADO DE PALESTRAS</a></p>
<p class="flow-text" style="font-color:white"><a href="http://sistema.ftsl.org.br/ftsl11/minicursos/certificado/">CERTIFICADO DE MINICURSOS</a></p>-->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="panel blue darken-4" >
        <div class="container valign-wrapper" style="height: auto; padding: 20px">
            <div class="center-align">
                <span class="xs-font white-text text-darken-4 flow-text">Participe do maior evento gratuito de software livre e aberto do Brasil.</span>               
            </div>
	</div>    
    </section>



    <section class="panel grey lighten-4 valign-wrapper">
        <div class="container" style="padding: 30px 10px">
            <div class="row">
                <div class="col s4">
                    <div class="row">
                        <div class="col s12 center-align">
                            <div class="grey-text text-darken-3"><i class="material-icons medium blue-text text-darken-4">keyboard_voice</i></div>
                            <span class="sm-font center-align grey-text text-darken-3">Palestras</span>
                        </div>
                        <div class="col s12  grey-text text-darken-3">
                            Realizadas por acadêmicos, estudantes e profissionais do mercado com o intuito de aprofundar os conhecimentos científicos, técnicos, mercadológicos e sociais do Software Livre e da Liberdade do Conhecimento.
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="row">
                        <div class="col s12 center-align">
                            <div class="grey-text text-darken-3"><i class="material-icons medium blue-text text-darken-4">watch_later</i></div>
			    <span class="sm-font center-align grey-text text-darken-3">Minicursos</span>
                        </div>
                        <div class="col s12  grey-text text-darken-3">
                            Ministrados por profissionais a fim de transmitir conhecimentos práticos de um determinado assunto por meio de treinamentos e capacitação.
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="row">
                        <div class="col s12 center-align">
                            <div class="grey-text text-darken-3"><i class="material-icons medium blue-text text-darken-4">watch_later</i></div>
			    <span class="sm-font center-align grey-text text-darken-3">Networking</span>
                        </div>
                        <div class="col s12  grey-text text-darken-3">
                            Compartilhe conhecimentos e experiências. Encontre profissionais. Seja encontrado.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="panel blue darken-4" >
        <div class="container valign-wrapper" style="height: auto; padding: 20px">
            <div class="center-align">
                <span class="xs-font white-text text-darken-4 flow-text">Junte-se a 3000+ participantes</span><br>
                <span class="md-font amber-text text-darken-1 flow-text"> no maior evento gratuito de Software Livre e Aberto do país</span><br><br>
                <a class="btn amber darken-4" href="evento.html">sobre o evento</a>
            </div>
	</div>
    </section>

<section id="convidados" class="panel grey darken-4">
    <div class="container grey lighten-4" style="">
      <div class="row ">
        <div class="col s12 sm-font blue-grey-text ">
          <span style="display: inline-block; padding:10px ">Convidados<a name="convidados"></a></span>
        </div>
      </div>

      <div class="row" style="padding: 0 10px; margin-bottom: 0;">

          {% for convidado in site.convidados %}
                      <a href="{{site.baseurl}}{{ convidado.url }}">
                          <img class="responsive-img center" src="{{ site.baseurl}}/convidados/{{ convidado.image }}-thumb.jpg" style="padding: 3px;" alt="{{ convidado.title }}" width="100" height="100">
                      </a>
          {% endfor %}

      </div> <!-- row -->
    </div>
  </section>

    <section class="panel blue-grey darken-4" id="noticias" >
        <div class="container" style="padding: 30px 10px">
            <div class="row">
  {% for post in site.posts %}
                <div class="col s12 m6 l4">
                    <div class="card large">
                        <div class="card-image">
                            <a href="{{ site.baseurl }}{{ post.url }}">
                                <img src="images/thumbs/{{ post.image }}" style="max-height: 200px">
                            </a>
                        </div>
                        <div class="card-content">
                            <span class="card-title blue-text text-darken-4 xs-font"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></span>
                            <p>{{ post.excerpt }}</p>
                        </div>
                        <div class="card-action">
                            <a href="{{ site.baseurl }}{{ post.url }}">saiba mais</a>
                        </div>
                    </div>
                </div>
  {% endfor %}
            </div>
        </div>
    </section>

    <section class="panel blue-grey darken-4">
        <p style="color:white"></p>
        <div class="green">
		<a href="https://www.openstreetmap.org/#map=18/-25.43922/-49.26889"><img src="images/openstreetmap.png" width="100%" height="500px"></a>
        </div>
    </section>

    <div id="patrocinioFooter"></div>

    <section class="panel grey lighten-4">
        <div class="container grey lighten-4">
            <div class="row">
                <div class="col s6 m6 l6" style="padding: 15px">
                    <span class="xs-font grey-text text-darken-4 flow-text">Conferências Irmãs</span>
                </div>
                <div class="col s6 m6 l6">
                    <span class="xs-font grey-text text-darken-4 flow-text right"><a href="{{site.baseurl}}/participar-paginas-amigas.html">participe</a></span>
                </div>
            </div>
            <div class="row">
            	<div class="col s6 m6 l6">
	            <div class="responsive-img center">
                	<a href="https://www.phpconference.com.br"><img src="images/phpconf.png" ></a>
	            </div>
		</div>	
	    </div>
        </div>
    </section>
