---
layout: post
title: Prepare-se para o FTSL 2019!
excerpt: Em breve será divulgada a data de realização do evento
image: confirmado.jpg
---

Em breve será divulgada a data de realização do evento em 2019.

<a href="{{ site.baseurl }}/index.html">Voltar</a>
